// IMPORTS
@import "vars";
@import "svg";

// BASE
body {
  font-family: "Cabin", sans-serif;
}

a {
  text-decoration: none;

  &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
  }
}

h2 {
  text-align: center;
  color: $color__primary;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 15px;
}

h3 {
  margin: 10px 0 20px 0;
  font-size: 1.5em;
  color: $color__secondary;
}

// MODULES
.header {
  background-image: url("../images/bg-sky2x.jpg");
  // image-set leads to bad quality on my big screen
  // background-image: image-set("../images/bg-sky1x.jpg" 1x,
  //                             "../images/bg-sky2x.jpg" 2x);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: $height__header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: $color__title;
    border: solid white 5px;
    padding: 0 5px 0 5px;
    letter-spacing: 0.1em;
    font-size: 4em;
    text-align: center;
  }

  &__kicker {
    color: $color__kicker;
    font-weight: 700;
    font-size: 1.4em;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: $height__nav;
  width: 100%;
  z-index: 10;
  transition: background 2s;

  &__logo {
    float: left;
    margin-left: 10px;

    img {
      height: $height__nav;
    }
  }

  &__links {
    float: right;
  }

  &--transparent {
    background: rgba(255, 255, 255, 0.2);
  }

  &--white {
    background: white;
  }
}

.list {
  list-style: none;
  margin-top: 20px;
  text-align: right;
  padding-left: 0;

  &__item {
    display: inline-block;
  }

  &__link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: $color__nav;
    margin-right: 20px;

    &:hover, &:visited, &:active, &:focus{
      color: $color__nav--hover;
    }
  }
}

@media only screen and (max-width: 625px) {
  .header__title {
    font-size: 3em;
  }
}

@media only screen and (max-width: 480px) {
  .header__title {
    font-size: 2em;
  }
  .header__kicker {
    font-size: 1em;
  }
}

.footer {
  background-image: url("../images/bg-ocean2x.jpg");
  // background-image: image-set("../images/bg-ocean1x.jpg" 1x,
  //                             "../images/bg-ocean2x.jpg" 2x);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: $height__footer;
  color: $color__footer;
  text-align: center;
  margin-top: 30px;

  &__email {
    font-size: 3em;
    padding-top: 50px;
  }

  &__social-icons {
    display: inline-block;
    margin-top: 15px;
  }

  &__copyright {
    margin-top: 10px;
  }
}

.link {
  &:hover, &:visited, &:active, &:focus {
    color: $color__footer--hover;
  }

  &__icon {
    vertical-align: middle;
    padding-bottom: 3px;
    width: 50px;
  }

  &--email {
    color: $color__footer;
    &:after {
      content: " alexander.schuster@web.de";
    }
  }
}

@media only screen and (max-width: 580px) {
  .footer__email {
    font-size: 2em;
  }
}

@media only screen and (max-width: 475px) {
  .footer__email {
    font-size: 1.5em;
  }
  .footer__copyright {
    font-size: 0.8em;
  }
}


.orange-border {
  border: 5px solid orange;
}

.inline-block {
  display: inline-block;
}

.light-padding {
  padding: 10px;
}

.center-content {
  text-align: center;
}

.box-shadow {
  box-shadow: rgb(34, 31, 31) 0px 0px 3px;
}
