$color__primary: rgba(0, 0, 0, 0.4);
$color__secondary: black;

$color__title: white;
$color__kicker: $color__primary;

$color__nav: $color__primary;
$color__nav--hover: rgba(0, 0, 0, 1);

$color__footer: white;
$color__footer--hover: rgba(255, 255, 255, 0.7);

$height__nav: 50px;
$height__header: 100vh;
$height__footer: 280px;
